*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    padding: 15px;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(16, 170, 137);
}

.container{
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    background-color: white;
}



.body{
    flex: 1;
    color: white;
    background-color: rgb(255, 251, 35);
    padding: 20px 30px; 
}

.message{
    background-color: silver;
    padding: 10px;
    color: white;
    width: fit-content;
    margin-bottom: 15px;
}

.user_message{
    margin-left: auto;
    background-color: white;
    color: black;
}

.footer{
    display: flex;
}

form input {
    flex: 3;
    height: 40px;
    border: none;
    outline: none;
    padding-right: 155px;
    padding-left: 25px;
    font-size: 16px;
}

form button {
    width: 90px;
    height: 35px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: rgb(16, 170, 137);
    cursor: pointer;
    color: white;
}

form button:hover {
    background-color: rgb(4, 81, 64);
    transition: 0.3s ease;
}