*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    /* justify-content: center; */
    color: white;
    padding: 15px;
    font-size: 22px;   
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(16, 170, 137);
}

.header-text {
    display: inline-block;
    position: relative;
    color: white;
    font-weight: bold;
}

.header-text2 {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 60px 0px 60px;
}
.header-text2:hover {
    background-color: rgb(8, 97, 78);
}


ul {
    list-style: none;
    color: white;
    background:rgb(16, 170, 137); 
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: white;
}

.dropdown {
    cursor: pointer;
}

.dropdown1:hover {
    background-color:rgb(8, 97, 78);
}

.dropdown2:hover {
    background-color:rgb(8, 97, 78);
}

.dropdown3:hover {
    background-color:rgb(8, 97, 78);
}

ul li ul.dropdown li {
    display: block;
    color: white;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    color: white;
}

ul li:hover ul.dropdown {
    display: block;
    color: white;
}

.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    background-color: white;
    /* overflow: hidden;
    max-height: 0; */
}


.body{
    flex: 1;
    color: white;
    background-color: rgb(255, 251, 35);
    padding: 20px 30px; 
}

.message{
    background-color: silver;
    padding: 10px;
    color: white;
    width: fit-content;
    margin-bottom: 15px;
    border-radius: 1rem 1rem 1rem 0rem;
}

.user_message{
    align-self: flex-end;
    padding: .75em;
    margin-bottom: .5em;
    background-color: white;
    width: fit-content;
    color: black;
    border-radius: 1rem 1rem 0rem 1rem;
}

.footer{
    display: flex;
}

footer input {
    flex: 3;
    height: 40px;
    border: none;
    outline: none;
    padding-right: 155px;
    padding-left: 20px;
    font-size: 16px;
}

footer button {
    width: 90px;
    height: 35px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: rgb(16, 170, 137);
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
}

footer button:hover {
    background-color: rgb(4, 81, 64);
}

.chat-btn {
    width: 70px;
    height: 70px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    color: rgb(16, 170, 137);
    border-radius: 50%;
    background-color: rgb(255, 251, 35);
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    border-color:rgb(16, 170, 137);
    transition: .3s ease-in-out;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.4);
}

.chat-btn:hover {
    transform: scale(1.25);
}

#knop {
    align-self: auto;
    margin-left: auto;
    margin-top: .75em;
    padding: 10px;
    background-color: white;
    width: fit-content;
    color: black;
    border-radius: 1rem 1rem 0rem 1rem;
}

#list {
    background-color: rgb(255, 251, 35);
    display: flex;
    flex-direction: column;
}